{% extends 'base.html' %}
{% comment %}  FORMULARIO PARA LISTAR LOS CLIENTES RELACIONADOS CON EL ASESOR  {% endcomment %}
{% block usermenu %}
          <li><a href="{"""% url 'edituseruserprofile' %"""}">Men&uacute; Pendiente</a></li>
{% endblock usermenu %}
{% block content %}
<div class="row">
    <div class="small-10 small-centered columns">
        <table>
            <caption>Compradores/Clientes del Asesor {{ user.first_name }} {{ user.last_name }} </caption>
            <thead>
                <tr>
                    <th>Asesor</th>
                    <th>Nombre(s)</th>
                    <th>Apellido paterno</th>
                    <th>Apellido materno</th>
                    <th>Manz&aacute;na</th>
                    <th>Lote</th>
                    <th>Etapa</th>
                    <th>Status</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for comprador in object_list %}
                <tr>
                    <td>{{ comprador.comprador.userprofile.slug }}</td>
                    <td><a alt="CLICK PARA EDITAR DATOS DEL COMPRADOR" 
                            title="CLICK PARA EDITAR DATOS DEL COMPRADOR" 
                            href="{% url 'clienteupdate' slug=user.userprofile.slug pk=comprador.pk %}">{{ comprador.comprador.nombre }}</a></td>
                    <td><a alt="CLICK PARA EDITAR DATOS DEL COMPRADOR" 
                            title="CLICK PARA EDITAR DATOS DEL COMPRADOR" 
                            href="{% url 'clienteupdate' slug=user.userprofile.slug pk=comprador.pk %}">{{ comprador.comprador.a_paterno }}</a></td>
                    <td><a alt="CLICK PARA EDITAR DATOS DEL COMPRADOR" 
                            title="CLICK PARA EDITAR DATOS DEL COMPRADOR" 
                            href="{% url 'clienteupdate' slug=user.userprofile.slug pk=comprador.pk %}">{{ comprador.comprador.a_materno }}</a></td>
                    <td>{{ comprador.manzana }}</td>
                    <td>{{ comprador.lote }}</td>
                    <td>{{ comprador.get_etapa_display }}</td>
                    <td>{{ comprador.get_status_display }}</td>
                    <td class="text-center"><a alt="EDITAR DATOS DE LA CASA" title="EDITAR DATOS DE LA CASA" href="{% url 'casageneralupdate' slug=user.userprofile.slug pkslug=comprador.pk %}"><i class="fi-page-edit medium"></i></a></td>
                    <td class="text-center"><a alt="ELIMINAR COMPRADOR" title="ELIMINAR COMPRADOR" href="{% url 'customerdelete' slug=user.userprofile.slug pk=comprador.pk %}"><i class="fi-page-remove medium"></i></a></td>

                </tr>
                {% empty %}
                    <p>El asesor no tiene clientes todav&iacute;a</p>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            {% if is_paginated %}
                <div class="pagination-centered">
                    <ul class="pagination">
                        <li class="arrow unavailable"><a href="">&laquo;</a></li>
                        {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                {% endif %}
                        <li class="current"><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                        <li class="arrow unavailable"><a href="">&raquo;</a></li>
                    </ul>
                </div>
                {% if page_obj.has_previous %}
                  <a href="?page={{ page_obj.previous_page_number }}">
                     Antes</a>
                {% endif %}
                    <!-- current page -->
                        P&aacute;gina {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    <!-- end current page -->
                {% if page_obj.has_next %}
                 <a href="?page={{ page_obj.next_page_number }}">
                        Siguiente</a>
                 {% endif %}
            {% endif %}
        </div><!-- ./text-center -->
        <br>
        <a class="button" title="Regresar" href="{% url 'profile' slug=user.userprofile.slug %}">Regresar</a>
        <a class="button" title="Regresar" href="{% url 'clientlistdetail' slug=user.userprofile.slug %}">Lista a detalle</a>
    </div>
</div><!-- ./row -->
{% endblock content %}
