{% extends 'base.html' %}
{% comment %} SE DA DE ALTA LOD DATOS DE CASAGENERAL  {% endcomment %}
{% block usermenu %}
          <li><a href="{"""% url 'userprofileupdate' slug=userprofile.slug %"""}"><i style="vertical-align: middle; "class="fa fa-question fa-2x fa-fw"></i>Men&uacute; Pendiente</a></li>
{% endblock usermenu %}
{% block title %} Datos de la casa """{{ user.first_name }} {{ user.last_name }}""" {% endblock title %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
         
         {{form.as_p}}

        <input class="button" type="submit" name="" value="Guardar">
        <a class="button" title="Continuar" href="{"""% url 'profile' %"""}">Continuar</a>
        <a class="button" title="Regresar" href="{"""% url 'profile' slug=user.userprofile.slug %"""}">Regresar</a>
    </form>

{% endblock content %}