{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-whith, initial-scale=1, maximum-scale=1">
    <title>{% block title %} La Cantera Residencial {% endblock title %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{% static "css/foundation.css" %}">
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/responsive-tables.css" %}">
    {% endblock stylesheets %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>
    <header>

    </header><!-- /header -->
    <!-- {"""% include 'navbar.html' %"""} -->
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1>
                <a href="#">La Cantera</a>
              </h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon">
              <a href="#">
                <span></span>
              </a>
            </li>
          </ul>
          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <!-- 
              <li class="active">
                <a href="#">Right Button Active</a>
              </li>
              -->
              <li class="has-dropdown active">
                {% if user.is_authenticated %}
                    <a href="#"><i style="vertical-align: middle; "class="fa fa-cog fa-2x fa-fw"></i>{{ user.username }}</a>
                <ul class="dropdown">
                  {% block usermenu %}
                  <!--
                  <li><a href="{"""% url 'userprofileupdate' slug=userprofile.slug %"""}">Editar</a></li>
                  <li><a href="{"""% url 'userprofiles:userprofileupdate' 'userprofileupdate' %"""}">Editar</a></li>
                  <li hidden><a href="{"""% url 'userupdate' slug=user.username %"""} ">Editar User</a></li>
                  -->
                  <!-- <li class="active"><a href="#">Active link in dropdown</a></li> -->
                  {% endblock usermenu %}
                  <li><a href="{% url 'summaryaccounts' slug=user.userprofile.slug %}"><i style="vertical-align: middle; "class="fa fa-table fa-2x fa-fw"></i>Resumen</a></li>
                    <li><a href="/logout/" title="Salir"><i style="vertical-align: middle; "class="fa fa-sign-out fa-2x fa-fw"></i>Salir</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
            <!-- Left Nav Section -->
            <ul class="left">
              <!--
              <li>
                <a href="#">Left Nav Button</a>
              </li>
              -->
            </ul>
          </section>
        </nav>

        <section>
            <div class="row" style="max-width:90%">
            {% block content %}

            {% endblock content %}
            </div>
        </section><!-- ./section -->   

    <!-- Footer -->
    <footer class="footer">
        <div class="row full-width">
            <div class="small-12 medium-3 large-4 columns">
              <i class="fi-laptop"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
            </div>
            <div class="small-12 medium-3 large-4 columns">
              <i class="fi-html5"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
            </div>
            <div class="small-6 medium-3 large-2 columns">
              <h4>Work With Me</h4>
              <ul class="footer-links">
                <li><a href="#">What I Do</a></li>
              </ul>
            </div>
            <div class="small-6 medium-3 large-2 columns">
              <h4>Follow Me</h4>
              <ul class="footer-links">
                <li><a href="#">GitHub</a></li>
              </ul>
            </div>
        </div>
    </footer>
<!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/foundation.js" %}"></script>
    <script src="{% static "js/foundation.topbar.js" %}"></script>
    <script src="{% static "js/jquery.cookie.js" %}"></script>
    <script src="{% static "js/fastclick.js" %}"></script>
    <script src="{% static "js/placeholder.js" %}"></script>
    <script src="{% static "js/modernizr.js" %}"></script>
    <script src="{% static "js/responsive-tables.js" %}"></script>

    <script>
        $(document).foundation();
    </script>
<!-- ./script -->

</body>
</html>