{% extends 'base.html' %}
{% comment %}  _aqui_van_los_comentarios_ {% endcomment %}
{% block title %} Detalle de Usuario {% endblock title %}
{% block content %}
    <figure>
        <img src="/media/{{ object.user.userprofile.avatar }}" alt="{{ object.user.username }}">
        <figcaption>{{ object.user.username }}</figcaption>
    </figure>
    <div>
        <ul>
            <li>User: {{ object.user.username }}</li>
            <li>Nombre(s): {{ object.user.first_name }}</li>
            <li>Apellido(s): {{ object.user.last_name }}</li>
            <li>Email: {{ object.user.email }}</li>
            <li>Grupo: {{ object.user.userprofile.grupo }}</li>
        </ul>
    </div>
{% endblock content %}
